#  credentials
secretKey='1234567890'
pass='tyei ibsr csvy jocq'
URI='mongodb+srv://okechukwuenetanyas:JWnsARftgVv7h0YK@projects.im3erqb.mongodb.net/England'
myApiKey='2e2dcc4cd268650137eb8c60f8970083854d8694'

